body{
    text-align: center;
}
h1{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Home Section */
#home{
    background-image: url("../images/home-background.png");
    line-height: 1.5;
    color: #ffff;
    min-height: 100vh;
}
.getstarted-button{
    margin: 5% 3% 5% 0;
}
/* Features */
#features{
    text-align: center;
    
}
.features-heading{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
    padding: 3% 2%;
}
.features-container{
    padding: 0 0 2% 2%;
}
.features-column{
    padding: 2%;
}
#features-footer{
    background-color: black;
    color:white;
}
.feature-box {
  border: 1px solid #000;
  background: white;
  transition: transform 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
}


/* Navigation buttons */
.navbar{
    color: white;
    padding: 2% 3% ;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}
/* Footer */
footer{
    padding: 1% 1%;
}
.social-icon{
    margin: 20px 10px;
}
#contact-footer{
    background-color: black;
    color: white;
}



